{% extends 'base.html.twig' %}

{% block title %}Game Details{% endblock %}

{% block body %}
<div class="game-details">
 <a href="{{ path('casino_games') }}" class="back-button">Go Back</a>
    <div class="game-details-background">
        <img src="{{ game.background }}" alt="{{ game.name }}" loading="lazy">
    </div>
    <div class="game-details-content">
        <h1>{{ game.name }}</h1>
    </div>
</div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
